@model RestaurantApp.NETCore.Entities.Restaurant

@{
    ViewBag.Title = Model.Name;
}


<h1>@Model.Name</h1>
<div>Id: @Model.Id</div>
<div>Cuisine: @Model.Cuisine</div>
<div>
    @Html.ActionLink(linkText: "Home", actionName: "Index")
</div>