@model RestaurantApp.NETCore.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>

<h4>
    <a asp-controller="Home" asp-action="Create">Create</a>
</h4>

@section footer {
    <div>
        @Model.CurrentGreeting
    </div>
}